@model IEnumerable<UniversitySystem.Models.CourseStudents>

@{
    ViewData["Title"] = "CourseStudents";
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Degree</th>
            <th>Course #</th>
            <th>Student #</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cs in Model)
        {
            <tr>
                <td>@cs.Id</td>
                <td>@cs.Degree</td>
                <td>@cs.CrsId</td>
                <td>@cs.StdId</td>
                <td>                    
                    <a asp-action="Details" asp-route-id="@cs.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Edit" asp-route-id="@cs.Id" class="btn btn-info">Edit</a>
                    <a asp-action="Delete" asp-route-id="@cs.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="CourseStudents" asp-action="Add" class="btn btn-dark btn-lg mt-3">Add CourseStudents</a>
